:root {
    --bs-teal: #008080;
    scroll-behavior: smooth;

}


br {
    margin-top: 1rem;
}

/* paramétrage couleur des composants */
.bg-teal {
    background-color: var(--bs-teal);
}

.btn-teal,
.btn-outline {
    background-color: var(--bs-teal);
    color: white;
}

.btn-outline:hover {
    background-color: white;
    border: 3px solid var(--bs-teal);
    color: var(--bs-teal);
    transition: .3s;
}

.text-teal {
    color: var(--bs-teal);
}

a:hover {
    color: var(--bs-teal) !important;
    font-weight: bold !important;
    transition: .3s;

}

/* card */
.card-img-top {
    max-width: 300px;
    max-height: 150px;
}

/**** Section contact ****/

/* Formulaire glassmorphique */
#form__container {
    position: relative;
}

form {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 0.8rem;
    backdrop-filter: blur(0.2rem);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2rem 1rem;
}

form * {
    border: none !important;
}

.blob {
    height: 7rem;
    width: 7rem;
    position: absolute;
    right: 0;
    top: -3rem;
    background: linear-gradient(#1effe5, #166d71);
    opacity: .5;
    border-radius: 73% 27% 70% 30% / 32% 67% 33% 68%;
}

/* Animation de paragraphe sous le formulaire */
.slidein {
    animation: 5s 1 slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* Footer : animation des icones */
.button {
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(94, 91, 91);
    float: left;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.button:hover {
    width: 10rem;
}

.button span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 3rem;
    margin-left: .8rem;
}

.button,
.icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    text-align: center;
    border-radius: 50px;
}

.button,
.icon a {
    font-size: 2rem;
    line-height: 1.5rem;
}

.icon {
    float: left;
    font-size: 4rem;
}